#container {
  width: 800px;
  height: 200px;
  margin-left: 300px;
}
input {
  width: 300px;
  height: 50px;
}
#copyBtn1,
#copyBtn2 {
  width: 200px;
  height: 50px;
}
table {
  border: double black 5px;
  width: 800px;
  height: 200px;
}
