.cardSize {
  height: 380px;
  width: 220px;
  display: inline-block;
  border: solid 1px black;
  margin: 15px;
}

img {
  height: 200px;
  width: 180px;
  position: relative;
  left: 20px;
}
h1 {
  text-align: center;
  color: seagreen;
}

svg {
  height: 20px;
  width: 50px;
  margin: none;
}

.likeBtn {
  position: relative;
  left: 70px;
  top: 10px;
}

.counter {
  position: relative;
  color: blue;
  left: 90px;
  top: 10px;
}
